/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: ". demo .";

    >div{
        grid-area: demo;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            cursor: pointer;
        }
    }
}