/* =============
    Navigation
============= */
#nav-container {
    ul {
        // text-align: right;
        height: 100%;

        @include lg {
            display: flex;
        }

        li {
            margin-bottom: 20px;

            @include lg {
                align-items: center;
                border-right: 2px solid $black;
                display: flex;
                margin-bottom: 0px;
            }

            button {
                color: $white;
                font-family: 'Roboto Slab', serif;
                padding: 0 20px;
                text-decoration: none;
                background-color: transparent;
                border: none;
                cursor: pointer;

                @include lg {
                    color: $black;
                }

                &:hover{
                    color: $yellow;
                }
            }
        }

        li:first-child {
            border: none;
        }

        li:last-child {
            border: none;
        }
    }
}